*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman','Poppins',sans-serif;
    font-weight: bold;
}
html{
    scroll-behavior: smooth;
}
body{
    color: white;
    /* background-color: #faec9f;  */
    /* background-color: rgb(135, 135, 135);  */
    background-color: #555555;
}
#header{
    width: 100%;
    height: 100%;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ec008b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 7%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 5%;
}
.header-text h1 span{
    color: #ec008b;
}
/*---------------about---------------------------*/
#about{
    padding: 80px 0px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.about-col-2{
    text-align: justify;
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ec008b;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 1.3rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* -----services-------------------------- */
#services{
    padding: 30px 0px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.image{
    width: 2.5rem;
    height: 2.5rem;
}
.services-list div{
    background: #929292;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p{
    text-align: justify;
    font-size: 15px;
}
.services-list div:hover{
    background: #ec008b;
    transform: translateY(-10px);
}
/* -------------portfolio---------------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 370px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work a img{
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 20px;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ec008b);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #ec008b;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition:  backgroung 0.5s;
    background-color: #e866b2;
}
.btn:hover{
    background: #ec008b;
}
/* -------------contact-------- */
.social-icons{
    margin-left: 8%;
    margin-top: 25px;
}
.social-icons a img{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
    
}
.social-icons a img:hover{
    transform: translateY(-5px);
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left a{
    text-decoration: none;
    color: #fff;
}
.contact-left p{
    margin-top: 15px;
    margin-left: 25px;
}
.contact-left a img{
    margin-top: 20px;
    margin-right: 6px;
    width: 1.8rem;
    height: 1.8rem;
}
.btn.btn2{
    display: inline-block;
    background: #ec008b;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* Basic styling for the loader */
#loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ec008b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Keyframes for the loader animation */
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* Style for hiding the loader initially */
.hidden {
    display: none;
}

/* Adjust the button style to accommodate the loader */
#submit-btn {
    position: relative;
    background-color: #ec008b;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn.loading {
    background-color: #ccc;
    pointer-events: none; /* Disable button while loading */
}

#submit-btn.loading::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    z-index: 2;
}

#submit-btn.loading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 20px;
    height: 20px;
    border: 2px solid #ec008b;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/* -------------------------media queries--------------- */
nav .icon{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin: 16%;
        font-size: 28px;
    }
    .header-text h1{
        font-size: 50px;
    }
    nav .icon{
        display: block;
        width: 10%;
    }
    nav ul{
        background: #ec008b;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .icon{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        width: 12%;
    }
    .sub-title{
        font-size: 50px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 17px;
    }
    .tab-links{
        font-size: 17px;
        margin-right: 20px; 
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

}
@media only screen and (min-width: 600px) and (max-width:651px){
    nav ul li{
        padding: 5px;
        margin: 10px 10px;
    }
    nav ul li a{
        font-size: 19px;
    }
    .sub-title{
        font-size: 50px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 17px;
    }
    .tab-links{
        font-size: 17px;
        margin-right: 20px; 
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
